<div class="bg-background_color min-h-screen items-center">
  <ais-instantsearch [config]="config" class="bg-[url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png')] min-h-screen items-center">
    <div class="grid grid-cols-1">

      <div class="bg-background_color float-left m-auto items-center w-full xl:w-4/6">
        <div class="grid grid-cols-1 xl:grid-cols-2 items-center">

          <div class="w-3/4 xl:w-4/6 h-2/4 xl:h-44 xl:ml-44 m-auto mt-5">
            <label for="name" class="text-3xl text-white">Name</label>
            <div class="mt-2">
              <ais-search-box></ais-search-box>
            </div>
            <p class="text-white mt-5">Use the Advanced Search to explore Pokémon by type, weakness, Ability, and more!</p>
          </div>

          <div class="w-3/4 h-2/4 m-auto mt-10 mb-10">
            <div class="bg-green-500 h-full p-3 rounded-md hover:bg-green-600 transition-all items-center flex">
              <h1 class="text-1xl text-white m-auto">Search for a Pokémon by name or using its National Pokédex number.</h1>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="bg-color_bar h-14 w-full xl:w-4/6 m-auto">
          <div class="grid items-center m-auto text-center h-full">
            <h1 class="text-white text-2xl m-auto font-semibold">Pokedex</h1>
          </div>
        </div>

        <div class="bg-background_color w-full xl:w-4/6 m-auto relative items-center flex text-center">
          <div class="bg-[url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png')] min-h-screen w-full">
            <div class="bg-background_color w-3/4 min-h-screen m-auto">
              <ais-hits>
                <ng-template let-hits="hits">
                  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full gap-10 p-10 xl:p-20">
                    <div *ngFor="let pokemon of hits">
                      <div class="{{pokemon.type[0].type.name}} w-full h-32 rounded-3xl cursor-pointer grid grid-cols-2 relative hover:-translate-y-3 shadow-lg hover:shadow-xl transition-all" routerLink="/pokemon/{{pokemon.objectID}}">
                        <div class="grid grid-cols-1 ml-4 items-center text-start m-auto w-full">
                          <p class="text-white float-left text-xl capitalize font-bold">{{pokemon.name}}</p>
                          <button *ngFor="let type of pokemon.type" class="h-6 w-16 mt-1 types rounded-2xl text-white">{{type.type.name}}</button>
                        </div>
                        <img src={{pokemon.image}} alt="" class="absolute -right-3 -bottom-5 w-24">
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ais-hits>
            </div>
          </div>
        <div>

      </div>
    </div>
  </div>
</div>
